@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@Model</h1> 
    @*<h1 class="display-4">Welcome</h1>*@
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    
    <img src="images/logo-transparent.png" alt="Fur Ever Friends logo image" style="width: 70%; height: 70%; align-content:center"/>
    <br />
    
    <p style="align-content:space-around">
        Pets are our <strong>best friends,</strong> they are <strong>part of our family.</strong>        
        We are their entire world, their <strong>lifetime bond.</strong>
        <strong><br />Always treating our pets and clients with respect to their individual needs.</strong>

        @*This is personal opinion and shouldn't be displayed*@
        @*<br /> That's why we offer our <strong>unhealthy animals for free,</strong> to help them find their forever home.
        <br /> <strong>Recovering</strong> animals are offered at a <strong>low price, </strong>
        because we understand how hard it is to take care a sick animal.*@
       
    </p>
    <br />
    <p>This page is Under Construction...</p>
    

</div>
