@page "/customers/create"

@using FuelStation.Web.Blazor.Shared.CustomerDataTransferObjects;
@inject HttpClient httpClient
@inject NavigationManager navigationManager

<h3>Customer Create</h3>

@if (Customer == null) {
    <p>Loading ...</p>

} else {
    <EditForm Model="Customer" OnValidSubmit="OnSave">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="row">
            <div class="col-md-6">
                <label class="form-label">Name</label>
                <InputText class="form-control" @bind-Value="@Customer.Name" />
                <ValidationMessage For="@(()=>Customer.Name)" />
            </div>
            <div class="col-md-6">
                <label class="form-label">Surname</label>
                <InputText class="form-control" @bind-Value="@Customer.Surname" />
                <ValidationMessage For="@(()=>Customer.Surname)" />
            </div>        
        </div>

        <div class="row mt-2">
            <div class="col">
                @*<button class="btn btn-success" @onclick="OnSave">Save</button>*@
                <button class="btn btn-success" type="submit">Save</button>
                <button class="btn btn-danger" @onclick="OnCancel">Cancel</button>
            </div>
        </div>
     </EditForm>

}

@code {
    [Parameter] public Guid? Id { get; set; }
    CustomerCreateDto? Customer { get; set; }
    
    protected override async Task OnInitializedAsync() {
            Customer = new();           
    }

    private void OnCancel() {
        navigationManager.NavigateTo("customers");
    }

    private async Task OnSave() {
        HttpResponseMessage? response = null;
        response = await httpClient.PostAsJsonAsync("customer", Customer);        
        try {           
            response.EnsureSuccessStatusCode();
            navigationManager.NavigateTo("customers");
        } catch {
            navigationManager.NavigateTo($"/error/{response.StatusCode}");
        } 
    }
}
