@page "/"

@*<PageTitle>Index</PageTitle>*@
<PageTitle>Fuel Pulse</PageTitle>

<div style="position: relative;">
    <img src="background-image.webp" style="width: 100%; height: auto; display: block;">

    <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5);">
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
      <h1 style="color: #fb8e25; font-size: 4rem; text-align: center;">Fuel Pulse</h1>
      <h2 style="color: #eb6e10; font-size: 2rem; text-align: center;">Powering Your Journey</h2>
      <h3 style="color: #fff; font-size: 1.5rem; text-align: center;">Welcome!</h3>
    </div>
  </div>
</div>

@*<div style="justify-content:center">
    <h1>Fuel Pulse</h1>

    <h2>Powering Your Journey</h2>
    <h3>Welcome!</h3>

</div>*@



