
@{
    ViewData["Title"] = "Pet Report Page";
}

<h1>Pet Report</h1>
<hr />
<p>Pet Report is going to be displayed here <br /> @*@Model*@
    <br /> <strong>MockView - Not real data have been added</strong>
</p>
<br />
<table class="table">
    <thead style="font-weight:bold">
        <tr>
            <th>Year</th>
            <th>Month</th>
            <th>Animal Type</th>            
            <th>Total Sold</th>
        </tr>

    </thead>
    <tbody>
        <tr>
            <td>2022</td>
            <td>January</td>
            <td>Mammal</td>
            <td>Amount</td>
        </tr>
        <tr>
            <td>2022</td>
            <td>January</td>
            <td>Bird</td>
            <td>Amount</td>           
        </tr>
        <tr>
            <td>2022</td>
            <td>January</td>
            <td>Reptile</td>
            <td>Amount</td>           
        </tr>
        <tr>
            <td>2022</td>
            <td>January</td>
            <td>Fish</td>
            <td>Amount</td>           
        </tr>       
        <tr>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
        </tr>
        <tr>
            <td>2022</td>
            <td>December</td>
            <td>Fish</td>
            <td>Amount</td>
        </tr>
        
        <tr style="font-weight:bold">        
            <td>2021</td>
            <td>January</td>
            <td>Mammal</td>
            <td>Amount</td>
        </tr>
        <tr>
            <td>2021</td>
            <td>January</td>
            <td>Bird</td>
            <td>Amount</td>
        </tr>
        <tr>
            <td>2021</td>
            <td>January</td>
            <td>Reptile</td>
            <td>Amount</td>
        </tr>
        <tr>
            <td>2021</td>
            <td>January</td>
            <td>Fish</td>
            <td>Amount</td>
        </tr>
        <tr>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
        </tr>
        <tr>
            <td>2021</td>
            <td>December</td>
            <td>Fish</td>
            <td>Amount</td>
        </tr>
        </tbody>
        </table>
        <br />
        <img src="images/chart_petReport.png" alt="Pet Report sample image" style="width: 40%; height: 40%; justify-content:center" />

