
@{
    ViewData["Title"] = "Monthly Report Page";
}

<h1>Monthly Report</h1>
<hr />
<p>Monthly Ledger is going to be displayed here 
    <br /> @*Test: @Model*@
    <br /> <strong>MockView - Not real data have been added</strong>
</p>

<br>
@*<table class="table-monthly-ledger" style="border-color:blue;">*@
<table class="table" >
    <thead style="font-weight:bold">
        <tr>
            <th>Month</th>
            <th>Income</th>
            <th>Expenses</th>
            <th>Total Profit</th>
        </tr>
       
    </thead>
    <tbody>
        <tr>
            <td>January</td>
            <td>Amount A</td>
            <td>Amount B</td>
            <td>Amount C</td>
        </tr>
        <tr>
            <td>February</td>
            <td>Amount A</td>
            <td>Amount B</td>
            <td>Amount C</td>
        </tr>
        <tr>
            <td>March</td>
            <td>Amount A</td>
            <td>Amount B</td>
            <td>Amount C</td>
        </tr>
        <tr>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
        </tr>
        <tr>
            <td>December</td>
            <td>Amount A</td>
            <td>Amount B</td>
            <td>Amount C</td>
        </tr>

    </tbody>
</table>
<br />
<img src="images/monthlyLedgerGraph.png" alt="Monthly Ledger sample image" style="width: 50%; height: 50%; justify-content:center" />
